﻿
@{
    ViewBag.Title = "Index";
}

<div data-ng-controller="MonthlyUpdate">
    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green" ng-click="DetailSummaryPanal(1)">
                    Detail Report
                </div>
                <div class="card-header card-header-icon" data-background-color="green" ng-click="DetailSummaryPanal(2)">
                    Summary
                </div>
                <div class="card-header card-header-icon" data-background-color="green" ng-click="DetailSummaryPanal(3)">
                    Penalty
                </div>
                <div class="card-header card-header-icon" data-background-color="green" ng-click="DetailSummaryPanal(5)">
                   Black Group
                </div>
                <div class="card-header card-header-icon" data-background-color="green" ng-click="DetailSummaryPanal(4)">
                    Upload Monthly Report
                </div>
                <div ng-show="DS==1" class="card-content">
                    <br />
                    <form class="animated zoomIn" method="post" ng-submit="FindSchool()">
                        <div class="row">
                            <div class="col-lg-3">

                                @*<select class="form-control validD" id="DistrictID2" name="District"ng-change="DisChange(Search.Dist)"  ng-model="Search.Dist">
                                        <option value="">-Select District-</option>
                                        <option ng-repeat="dis in District" value="{{$index}}">{{dis.Name}}</option>
                                    </select>
                                    <div class="bootstrap-tagsinput">
                                        <span class="tag label label-info" ng-repeat="sDis in SelectedDis">{{sDis.Name}}<span ng-click="RemoveSelectedDis($index)" data-role="remove"></span></span>
                                    </div>*@




                                <ui-select ng-model="$parent.SelectedDis" multiple title="Choose a type" name="casesections">
                                    <ui-select-match placeholder="Select a District">{{$item.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in District | filter:  $select.search">
                                        <strong ng-bind-html="item.Name"></strong>
                                        <h5>{{item.Description}}</h5>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-3">


                                <ui-select ng-model="$parent.SelectedPhase" multiple title="Choose a type" name="casesections">
                                    <ui-select-match placeholder="Select a Phase">{{$item.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in Phase | filter:  $select.search">
                                        <strong ng-bind-html="item.Name"></strong>
                                        <h5>{{item.Description}}</h5>
                                    </ui-select-choices>
                                </ui-select>
                                @*<select class="form-control validD" id="DistrictID2" name="District" ng-model="Search.Phase">

                                        <option value="">--Select--</option>
                                        <option value="1">Phase 1</option>
                                        <option value="2">Phase 2</option>
                                        <option value="3">Phase 3</option>
                                    </select>*@
                            </div>
                            <div class="col-lg-3">

                                <ui-select ng-model="$parent.SelectedType" multiple title="Choose a type" name="casesections">
                                    <ui-select-match placeholder="Select a Type">{{$item.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in AppTypes | filter:  $select.search">
                                        <strong ng-bind-html="item.Name"></strong>
                                        <h5>{{item.Description}}</h5>
                                    </ui-select-choices>
                                </ui-select>
                                @*<select class="form-control validD" id="DistrictID2" name="District" ng-model="Search.appType">

                                        <option value="">-Type- </option>
                                        <option ng-repeat="apptyp in AppTypes" value="{{apptyp.PKCODE}}">{{apptyp.Name}}</option>

                                    </select>*@
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control validD" id="DistrictID2" name="District">

                                    <option value="">-Focal Person- </option>
                                    <option value="01039007">Majid sb</option>
                                    <option value="01039008">Shaid</option>

                                </select>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-lg-3">
                                <button class="btn btn-success">Search</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div ng-show="DS==2" class="card-content">
                    <br />
                    <div class="animated zoomIn">

                        <div class="row">

                            <div class="col-lg-3">
                                <button class="btn btn-primry" ng-click="DistrictWiseSummery()">District Wise</button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-primry">Focal Person Wise</button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-primry" ng-click="CatWiseSummery()">Category Wise</button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-primry" ng-click="TypeWiseSummery()">Type Wise</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Penalty-->
                <div ng-show="DS==3" class="card-content">
                    <br />
                    <div class="animated zoomIn">

                        <div class="row">

                            <div class="col-lg-3">
                                <select class="form-control form-control-success" ng-model="pid">
                                    <option value="">--Select Penalty--</option>
                                    <option ng-repeat="p in planty" value="{{p.PKCODE}}">{{p.Name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <br />
                               <p>School Count {{SelectedSchool.length}}</p>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-primry" ng-click="ApplyPenalty()" ng-disabled="pid==''">Apply</button>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div ng-show="DS==5" class="card-content">
                    <br />
                    <div class="animated zoomIn">

                        <div class="row">

                            <div class="col-lg-3">
                              <input placeholder="Group Name" class="form-control" ng-model="BG.NAME"/>
                            </div>
                            <div class="col-lg-3">
                                <input placeholder="Penalty Amount" class="form-control" ng-model="BG.PENALTY" />
                            </div>
                            <div class="col-lg-3">
                               <select class="form-control" ng-model="BG.EFACT">
                                   <option value="">-Select-</option>
                                   <option value="F">Flat</option>
                                   <option value="P">%</option>
                               </select>
                            </div>
                            <div class="col-lg-3">
                                <br />
                                <p>School Count {{SelectedSchool.length}}</p>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-primry" ng-click="CreateGroup()" ng-disabled="BG.PENALTY=='' && BG.NAME && BG.EFACT &&SelectedSchool.length==0">Apply</button>
                            </div>

                            <div class="col-lg-3">
                                <button class="btn btn-primry" ng-click="ViewBlackGroup()">View Group</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Monthly Report Detail Table-->
    <div class="row" ng-show="DSR==1">
        <div class="col-lg-12 animated zoomIn">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h5 display">Payment Calculation of Schools</h2>
                    <!--Selected School-->
                    <div class="bootstrap-tagsinput">
                        <span style="font-size:1em; background-color: #008000" class="tag label label-info" ng-repeat="s in SelectedSchool">{{s.name}}<span data-role="remove" ng-click="removeSchool($index)"></span></span>


                    </div>
                </div>
                <div class="card-block">
                    <div class="row">

                        <form class="navbar-form navbar-right" role="search" style="padding-right:40px">
                            <div class="form-group form-search is-empty">
                                <input type="text" class="form-control" placeholder="Search" ng-model="Pagination.Search">
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>
                            <button ng-click="pageChanged()" class="btn btn-green btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                    <table class="table table-bordered bordered table-striped table-condensed datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>EMIS Code</th>
                                <th>Name</th>
                                <th>Level</th>
                                <th>District  </th>
                                <th>Phase </th>
                                <th>Licensee Type  </th>
                                <th>Licensee Name</th>
                                <th>T.S. (SIS)</th>
                                <th>Action</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="s in Schools">
                                <th scope="row">{{((Pagination.Page - 1) * Pagination.PageSize) + ($index+1)}}</th>
                                <td>{{s.EMISCOD}}</td>
                                <td>{{s.SCHOOL_NAME}}</td>
                                <td>{{s.SCHOOL_LEVEL}}</td>
                                <td>{{s.DISTRICT_NAME}}</td>
                                <td>{{s.SCHOOL_PHASE}}</td>
                                <td>{{s.LTYPE_NAME}}</td>
                                <td>{{s.LNAME}}</td>
                                <td>{{s.TOTAL_STUDENT}}</td>
                                <td>
                                    <button ng-click="Selected(s.EMISCOD , s.SCHOOL_NAME)" class="btn btn-green btn-round btn-just-icon">
                                        <i class="material-icons">add</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul uib-pagination max-size="10" boundary-link-numbers="true" rotate="false" total-items="Pagination.TotalRecords" ng-model="Pagination.Page" items-per-page="Pagination.PageSize" ng-change="pageChanged()" class="pagination-lg"></ul>
                </div>
            </div>
        </div>
    </div>
    <!--Summaries-->
    <div class="row" ng-show="DSR==2">
        <div class="col-lg-12 animated zoomIn">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h5 display">District Wise Summary</h2>
                </div>
                <div class="card-block">
                    <div class="row">


                    </div>
                    <table class="table table-bordered bordered table-striped table-condensed datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>District</th>
                                <th>Total School</th>
                                <th>Report Submited</th>
                                <th>Remaning  </th>

                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="s in DisRep">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{s.DISTRICT_NAME}}</td>
                                <td>{{s.EMISCODE}}</td>
                                <td><button class="btn btn-default" ng-click="GetNotSubmittedSchool(s.DISTRICT , 'S')">{{s.MONTH_REPORT_UPDATED}}</button></td>
                                <td><button class="btn btn-default" ng-click="GetNotSubmittedSchool(s.DISTRICT , 'N')">{{s.EMISCODE - s.MONTH_REPORT_UPDATED }}</button></td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="DSR==3">
        <div class="col-lg-12 animated zoomIn">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h5 display">Type Wise Summary</h2>
                </div>
                <div class="card-block">
                    <div class="row">


                    </div>
                    <table class="table table-bordered bordered table-striped table-condensed datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Total School</th>
                                <th>Report Submited</th>
                                <th>Remaning  </th>

                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="s in CatRep">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{s.APPLICANT_NAME}}</td>
                                <td>{{s.EMISCODE_COUNT}}</td>
                                <td>{{s.MONTH_REPORT_UPDATED}}</td>
                                <td>{{s.EMISCODE_COUNT - s.MONTH_REPORT_UPDATED }}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="DSR==4">
        <div class="col-lg-12 animated zoomIn">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h5 display">Catogary Wise Summary</h2>
                </div>
                <div class="card-block">
                    <div class="row">


                    </div>
                    <table class="table table-bordered bordered table-striped table-condensed datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Total School</th>
                                <th>Report Submited</th>
                                <th>Remaning  </th>

                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="s in TypeRep">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{s.IS_CHAIN}}</td>
                                <td>{{s.EMISCODE_COUNT}}</td>
                                <td>{{s.MONTH_REPORT_UPDATED}}</td>
                                <td>{{s.EMISCODE_COUNT - s.MONTH_REPORT_UPDATED }}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="DSR==5">
        <div class="col-lg-12 animated zoomIn">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h5 display">Black Listed Group</h2>
                </div>
                <div class="card-block">
                    <div class="row">


                    </div>
                    <table class="table table-bordered bordered table-striped table-condensed datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Group Name</th>
                                <th>Total School</th>
                                <th>Penalty Amount</th>
                                <th>Effect  </th>

                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="s in BlackGroups">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{s.NAME}}</td>
                                <td><a href="#" ng-click="ShowBlakSchoolDtl(s.PKCODE)" > {{s.Count}} </a> </td>
                                <td>{{s.PENALTY}}</td>
                                <td>{{s.EFACT=='P' ? '%' : 'Flat'  }}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="DSR==6">
        <div class="col-lg-12 animated zoomIn">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h5 display">{{DSR5Titel}} Monthly Report</h2>
                </div>
                <div class="card-block">
                    <div class="row">


                    </div>
                    <table class="table table-bordered bordered table-striped table-condensed datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>School Name</th>
                                <th>Emis Code</th>
                                <th>District</th>
                                <th>Phase</th>
                                <th>Contact No</th>
                               

                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="s in NotSbM">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{s.NAME}}</td>
                                <td>{{s.PKCODE}}</td>
                                <td>{{s.Dis}}</td>
                                <td>{{s.SCHOOL_PHASE}}</td>
                                <td>{{s.PHNO}}</td>

                               

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div ng-if="popup==1" class="box" id="formModal" style="position:fixed; left: 42%; top:7%;height:100% !important; z-index:999">
        <div class="modal-dialog">
            <div class="modal-content" style="width:1000px; margin-left:-261px; height:500px; overflow-y: auto;">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-lg-10">
                            <h3>Black Listed School</h3>
                        </div>
                        <div class="col-lg-2">
                            <button ng-click="DisposPopUp()" class="btn btn-just-icon btn-round btn-youtube pull-right">
                                <i class="fa fa-youtube">- </i>

                            </button>
                        </div>

                    </div>
                </div> <!-- /modal-header -->
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Emis Code</th>
                                <th>School Name</th>
                                <th>Remove</th>
                            </tr>
                           
                        </thead>
                        <tbody>
                            <tr ng-repeat="s in bds">
                                <td>{{$index}}</td>
                                <td>{{s.EMISCODE}}</td>
                                <td>{{s.NAME}}</td>
                                <td><a href="#" ng-click="RemoveFromBlackList(s.PKCODE)"><i class="fa fa-cross"></i> Remove</a></td>
                            </tr>

                            
                        </tbody>
                    </table>
                   
                   
                </div>
            </div>

        </div>
    </div>


    <div ng-if="alert!=0" style="z-index:9999; position:fixed; top:0px; left:0px; width:100%; height:100%; background: rgba(126, 126, 115, 0.63);">
        <div class="swal2-modal swal2-show" style="z-index:9999; position:fixed; top:37%; left:34%; display: block; width: 500px; padding: 20px; background: rgb(255, 255, 255); min-height: 172px;" tabindex="-1">
            <h2>{{alertMsg}}</h2>
            <button ng-if="alert==1" type="button" class="swal2-confirm btn btn-success" style="" ng-click="disposAlert()">OK</button>
        </div>
    </div>
</div>
@section Scripts{

    <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>


    <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>

    <script src="~/JS/MonthlyReport.js"></script>


}