﻿
@{
    ViewBag.Title = "Index";
}
<div ng-controller="Adjustment">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">
                    <div class="card-header">
                        <h4>
                            <strong>Adjustment</strong>
                        </h4>
                    </div>
                </div>
                <div class="card-content">
                    <ul class="nav nav-pills nav-pills-success">
                        <li class="active">
                            <a href="#pill1" data-toggle="tab">Apply To ALL</a>
                        </li>
                        <li>
                            <a href="#pill2" data-toggle="tab">View All Adjustment</a>
                        </li>
                        @*<li>
                                <a href="#pill3" data-toggle="tab">Individually</a>
                            </li>*@

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="pill1">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">

                                    <form class="form-horizontal" ng-submit="SaveAdjustment()">
                                        <div class="form-group row">
                                            <label class="col-sm-4">Type</label>
                                            <div class="col-sm-8">
                                                <select class="form-control form-control-success" ng-model="AllAdjustment.FKTYPE">
                                                    <option value="">--Select--</option>
                                                    <option ng-repeat="t in AdjsTypes" value="{{t.PKCODE}}">{{t.Name}}</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div ng-show="AllAdjustment.FKTYPE== '11101'">
                                            <div class="form-group row">
                                                <label class="col-sm-4">District  </label>
                                                <div class="col-sm-8">
                                                    @*<select class="form-control form-control-success" ng-model="AllAdjustment.District">
                                                        <option value="">--Select--</option>
                                                        <option ng-repeat="dis in District" value="{{dis.PKCODE}}">{{dis.Name}}</option>
                                                    </select>*@
                                                    <ui-select ng-model="$parent.SelectedDis" multiple title="Choose a type" name="casesections">
                                                        <ui-select-match placeholder="Select a District">{{$item.Name}}</ui-select-match>
                                                        <ui-select-choices repeat="item in District | filter:  $select.search">
                                                            <strong ng-bind-html="item.Name"></strong>
                                                            <h5>{{item.Description}}</h5>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4">Phase </label>
                                                <div class="col-sm-8">
                                                    <ui-select ng-model="$parent.SelectedPhase" multiple title="Choose a type" name="casesections">
                                                        <ui-select-match placeholder="Select a Phase">{{$item.Name}}</ui-select-match>
                                                        <ui-select-choices repeat="item in Phase | filter:  $select.search">
                                                            <strong ng-bind-html="item.Name"></strong>
                                                            <h5>{{item.Description}}</h5>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    @*<select class="form-control form-control-success" ng-model="AllAdjustment.Phase">
                                                        <option value="">--Select--</option>
                                                        <option value="1">Phase 1</option>
                                                        <option value="2">Phase 2</option>
                                                        <option value="3">Phase 3</option>
                                                    </select>*@

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4">Types  </label>
                                                <div class="col-sm-8">
                                                    <ui-select ng-model="$parent.SelectedType" multiple title="Choose a type" name="casesections">
                                                        <ui-select-match placeholder="Select a Type">{{$item.Name}}</ui-select-match>
                                                        <ui-select-choices repeat="item in AppTypes | filter:  $select.search">
                                                            <strong ng-bind-html="item.Name"></strong>
                                                            <h5>{{item.Description}}</h5>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                     @*<select class="form-control form-control-success" ng-model="AllAdjustment.appTyp">
                                                        <option value="">--Select--</option>
                                                        <option ng-repeat="apptyp in AppTypes" value="{{apptyp.PKCODE}}">{{apptyp.Name}}</option>
                                                    </select>*@

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row" ng-if="AllAdjustment.FKTYPE== '11102'">
                                            <label class="col-sm-4">EMIS</label>
                                            <div class="col-sm-8">
                                                <input id="inputHorizontalSuccess" ng-model="AllAdjustment.EMIS" ng-blur="VerifyEmis(AllAdjustment.EMIS)" type="text" class="form-control form-control-success">
                                                <p>{{ SchoolName == '0' ? 'Invalid EMIS Code' :  SchoolName}}</p>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Name</label>
                                            <div class="col-sm-8">
                                                <input id="inputHorizontalSuccess" ng-model="AllAdjustment.NAME" type="text" class="form-control form-control-success">


                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Amount </label>
                                            <div class="col-sm-8">
                                                <input id="inputHorizontalSuccess" ng-model="AllAdjustment.AMNT" type="text" class="form-control form-control-success">


                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Instalment</label>
                                            <div class="col-sm-8">
                                                <input id="inputHorizontalSuccess" ng-model="AllAdjustment.IAMNT" type="text" class="form-control form-control-success">

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4">Steps</label>
                                            <div class="col-sm-8">
                                                <input id="inputHorizontalSuccess" ng-model="AllAdjustment.STEPS = (AllAdjustment.AMNT/AllAdjustment.IAMNT) | number:0" type="text" class="form-control form-control-success">

                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-sm-10 offset-sm-2">
                                                <input ng-disabled="SchoolName=='0'" type="submit" value="Save" class="btn btn-success">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="pill2">
                            <div class="row">

                                <div class="col-lg-12">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Amount</th>
                                                <th>Instalment</th>
                                                <th>Steps</th>
                                                <th>MM-YYYY</th>
                                                <th>Action</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="r in AllAdustmentList">
                                                <th scope="row">{{$index + 1}}</th>
                                                <td>{{r.Name}}</td>
                                                <td>{{r.Amount}}</td>
                                                <td>{{r.Instalment}}</td>
                                                <td>{{r.Step}}</td>
                                                <td>{{r.MCD}} - 20{{r.PCD}}</td>

                                                <td>
                                                    <a href="#pill1" data-toggle="tab" ng-click="EditRate(r.ID)"><i class="material-icons">mode_edit</i></a>
                                                    <i class="material-icons">delete</i>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        @*<div class="tab-pane" id="pill3">
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-8">
                                        <form class="form-horizontal">
                                            <div class="form-group row">
                                                <label class="col-sm-4">Basic Elemantry Cost </label>
                                                <div class="col-sm-8">
                                                    <input id="inputHorizontalSuccess" type="text" value="550" class="form-control form-control-success">
                                                    <small class="form-text">per/student in RS.</small>

                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-4">Other</label>
                                                <div class="col-sm-8">
                                                    <input id="inputHorizontalSuccess" type="text" value="" class="form-control form-control-success">
                                                    <small class="form-text">any additional .</small>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-10 offset-sm-2">
                                                    <input type="submit" value="Save" class="btn btn-success">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-2"></div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>

@section Scripts{
    <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>


    <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <script src="~/JS/Adjustment.js"></script>
}