﻿@model PSSPSAP.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="col-12">


    <div class="card">
        <div class="card-header card-header-icon" data-background-color="green">
           Add User
        </div>
        <div class="card-content">
            <br>

            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="form-group is-empty">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.District, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @*@Html.TextBoxFor(m => m.District, new { @class = "form-control" })*@
                                    @Html.DropDownListFor(m=> m.District , new SelectList(ViewBag.Dist , "PKCODE" , "NAME") , "-Select-" , new {@class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ApplicentType, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @*@Html.TextBoxFor(m => m.ApplicentType, new { @class = "form-control" })*@
                                    @Html.DropDownListFor(m => m.ApplicentType, new SelectList(ViewBag.type, "PKID", "NAME"), "-Select-", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Role, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                 
                                    @Html.DropDownListFor(m => m.Role, new SelectList(ViewBag.Role, "Name", "Name"), "-Select-", new { @class = "form-control" })
                                </div>
                            </div>

                              <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-default" value="Register" />
                                </div>
                            </div>
                        }

                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }



                       
                    </div>
                </div>
                <div class="col-lg-3"></div>



            </div>
        </div>
    </div>
</div>

