﻿@model  List<PSSPSAP.Models.DbModel.PAYMENT>
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>..::Punjab Education Foundation::..</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <style>
        body {
            margin: 0 auto;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #000000;
        }

        .main {
            width: 100%;
            height: auto;
            padding: 0px;
        }

        table tr td{
            padding: 8px 3px;
            border: 1px solid #ccc;
        }

        table thead th{
            padding: 8px 3px;
            border: 1px solid #ccc;
        }
        .header {
            background: #48adf5 url(../../Content/images/header.jpg) no-repeat top center;
            height: 200px;
            margin: 0 auto;
        }

        .style3 {
            color: #FFFFFF;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="header"></div>

    <div class="main">
        <table width="92%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="7"></td>
            </tr>
            <thead>
                <tr>
                    <th colspan="7" align="center">
                        <span style="font-size:22px; font-weight:600; text-decoration:underline;">PSSP Posted Payment Report</span>
                    </th>
                </tr>
                <tr>
                    <th colspan="7" align="center">
                        <span style="font-size:20px; font-weight:600;"></span>
                    </th>
                </tr>
            </thead>

           
            <tr>
                <td colspan="7" style="padding:0px !important; border:none;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="17%">No of schools: @Model.Count</td>
                            <td width="21%">

                              @foreach(var v in ViewBag.Filter.Dist)
                              {
                                  @v.Name <br />
                              }
                            </td>
                            <td colspan="4">
                                @foreach (var v in ViewBag.Filter.appType)
                                {
                                    @v.Name <br />
                                }
                            </td>
                            <td width="12%" align="right">Posted Date: @DateTime.Now.ToString("MMM-dd-yyyy")</td>
                        </tr>
                        <tr>
                            <td>Payment Month: @DateTime.Now.ToString("MMM-yyyy")</td>
                            <td align="center">Note: This Payment Based on Total Infrastructure Capacity</td>
                            <td colspan="4">&nbsp;</td>
                            <td align="right">Print Date: @DateTime.Now.ToString("MMM-dd-yyyy")</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="7" style="padding:0px !important; border:none;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      
                        <thead>
                            <tr>
                                <th align="center" bgcolor="#000000">
                                    <span class="style3">Discription</span>
                                </th>
                                <th align="center" bgcolor="#000000">
                                    <span class="style3">Current Payment Status</span>
                                </th>
                                <th colspan="2" align="center" bgcolor="#000000">
                                    <span class="style3">Adjustment</span>
                                </th>
                                <th colspan="3" align="center" bgcolor="#000000">
                                    <span class="style3">Payment Analysis</span>
                                </th>
                            </tr>
                        </thead>
                        <tr>
                            <td colspan="7" valign="top" style="padding:0px !important; border:none;">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th width="2%" align="center">Sr #</th>
                                            <th width="5%" align="center">School Code</th>
                                            <th width="7%" align="center">School Name</th>
                                            <th width="5%" align="center">Primary Payment</th>
                                            <th width="6%" align="center">Primary Enrollment</th>
                                            <th width="7%" align="center">Primary Enrollment to be Paid</th>
                                            <th width="6%" align="center">Middle Payment</th>
                                            <th width="6%" align="center">Middle Enrollment</th>
                                            <th width="6%" align="center">Middle Enrollment to be Paid</th>
                                            <th width="6%" align="center">Gross Payment</th>
                                            <th width="5%" align="center">
                                                Penalties/
                                                <br />
                                                Deductions
                                            </th>
                                            <th width="6%" align="center">
                                                Release Payment/
                                                <br />
                                                Benefits
                                            </th>
                                            <th width="6%" align="center">Stop Payment</th>
                                            <th width="5%" align="center">With hold Amount</th>
                                            <th width="5%" align="center">Net Payment</th>
                                            <th width="17%" align="center">Remarks</th>
                                        </tr>
                                    </thead>
                                    @{
                                        int index = 1;
                                    }
                                    @foreach (var p in Model)
                                    {
                                        <tr>
                                            <td align="center">@index</td>
                                            <td align="center">@p.EMISCODE</td>
                                            <td align="center">@p.EMISS.NAME</td>
                                            <td align="center">@p.PRIMARY_PAYMENT</td>
                                            <td align="center">@p.PRIMARY_ENROL</td>
                                            <td align="center">@p.PRIMARY_ENROL_PAID</td>
                                            <td align="center">@p.SECONDARY_PAYMENT</td>
                                            <td align="center">@p.SECONDARY_ENROL</td>
                                            <td align="center">@p.SECONDARY_ENROL_PAID</td>
                                            <td align="center">@p.GROSS</td>
                                            <td align="center">@p.PLANTY_DEDUCTION</td>
                                            <td align="center">@p.RELEASE_PAYMENT</td>
                                            <td align="center">@p.STOP_PAYMENT</td>
                                            <td align="center">@p.WITHHOLD</td>
                                            <td align="center">@p.NET_PAYMENT</td>
                                            <td align="center">@Html.Raw(p.PLANTY_RMKS)
                                            Note: @p.PAYMENTBASEDON
                                            </td>
                                        </tr>
                                        index++;
                                    }
                                    <tr>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                    </tr>
                                </table>

                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="6">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="center">
                    <strong>
                        Prepared By:<br />
                        Asisstant Director (PSSP)
                    </strong>
                </td>
                <td align="center">
                    <strong>
                        Checked By:<br />
                        Deputy Director (PSSP)
                    </strong>
                </td>
                <td align="center">
                    <strong>
                        Checked By:<br />
                        Additional Director (PSSP)
                    </strong>
                </td>
                <td align="center">
                    <strong>
                        Checked By:<br />
                        Director (PSSP)
                    </strong>
                </td>
                <td align="center">
                    <strong>
                        Verified By:<br />
                        Director (FIN)
                    </strong>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="7" align="center" style="border:none; padding:0px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="2%" style="padding:20px;" align="center">
                                <p>
                                    <strong>
                                        Copyright &copy; Punjab Education Foundation 2017, All Rights Reserved.
                                    </strong>
                                </p>
                                <p align="left">Disclaimer! </p>
                                <p>“This is auto  generated payment sheet based on all calculations made by SAPS using SIS  (Student Information System) data. SIS data is based on the information given  by schools. SIS logins are provided to PSSP partner schools to update enrollment  (add and/or drop students) on daily basis. Schools are bound to give correct  updated data so that correct payment may be processed from the public funds”.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>

</body>
</html>
