﻿
@{
    ViewBag.Title = "Index";
}
<div ng-controller="UMR">
    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    Upload
                </div>
                <div class="card-content">
                    <br />

                    <div class="row">

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="label-control">File</label>
                                <input ng-model="file" type="file" class="form-control" file-Input />
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="label-control">Date Picker</label>
                                <md-datepicker ng-model="date" md-placeholder="Enter date"></md-datepicker>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-success" ng-click="Upload()">Upload</button>
                        </div>
                        <div class="col-lg-3">
                            <a href="~/Content/Sampel/MonthelyUpdateSampel.xlsx"> <button class="btn btn-success">Download Sample</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    <div ng-if="alert!=0" style="z-index:9999; position:fixed; top:0px; left:0px; width:100%; height:100%; background: rgba(126, 126, 115, 0.63);">
        <div class="swal2-modal swal2-show" style="z-index:9999; position:fixed; top:37%; left:34%; display: block; width: 500px; padding: 20px; background: rgb(255, 255, 255); min-height: 172px;" tabindex="-1">
            <h2>{{alertMsg}}</h2>
            <button ng-if="alert==1" type="button" class="swal2-confirm btn btn-success" style="" ng-click="disposAlert()">OK</button>
        </div>
    </div>
</div>
@section Scripts{

    <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>


    <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <script src="~/JS/UMR.js"></script>

}