﻿@using Microsoft.AspNet.Identity


<div class="sidebar" data-active-color="rose" data-background-color="black" data-image="~/Content/assets/img/sidebar-1.jpg">

    <div class="logo">
      
        <a href="~/Home/Index" class="simple-text logo-normal">
           PSSP Payment System
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user" style="padding-bottom:0px; margin: 0px;">
          
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    <span>
                       @User.Identity.GetUserName()
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a href="#">
                                <span class="sidebar-mini">MP</span>
                                <span class="sidebar-normal">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sidebar-mini">EP</span>
                                <span class="sidebar-normal">Edit Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sidebar-mini">S</span>
                                <span class="sidebar-normal">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>


        <ul class="nav">
            <li class="">
                <a href="#">
                    
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#Management" class="collapsed">
                    <span>
                      User Management
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="Management">
                    <ul class="nav">
                        <li>
                            <a href="/Account/Register">
                                <span class="sidebar-mini"> </span>
                                <span class="sidebar-normal">Add User</span>
                            </a>
                        </li>
                       
                    </ul>
                </div>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "MonthlyUpdate" ? "active" : "")">
                <a href="/MonthlyUpdate/index"><i class="icon-form"></i><span>Monthly Update Section</span></a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "PMIU" ? "active" : "")">
                <a href="/PMIU/Index"><i class="icon-form"></i><span>PMIU Report</span></a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "MEReport" ? "active" : "")">
                <a href="/MEReport/Index"><i class="icon-form"></i><span>M &  E Report</span></a>
            </li>
            @if (User.IsInRole("admin"))
            {
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "PaymentCriteria" ? "active" : "")">
                <a href="/PaymentCriteria/index"><i class="icon-presentation"></i><span>Payment Criteria</span></a>
            </li>
                } 
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Penalty" ? "active" : "")">
                <a href="/Penalty/Index"><i class="icon-presentation"></i><span>Penalty</span></a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "PaymentCalculation" ? "active" : "")">
                <a href="/PaymentCalculation/Index"> <i class="icon-grid"> </i><span>Payment Calculation</span></a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Adjustment" ? "active" : "")">
                <a href="/Adjustment/index"> <i class="icon-interface-windows"></i><span>Adjustment</span></a>
            </li>
           
            <li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "StopRelease" ? "active" : "")">
                <a href="/StopRelease/Index"> <i class="icon-interface-windows"></i><span>Stop/Release Payments</span></a>
            </li>
            @*<li>
                <a href="login.html"> <i class="icon-interface-windows"></i><span>Payments</span></a>
            </li>*@
            <li>
                <a href="/Reporting/Download/"> <i class="icon-interface-windows"></i><span>Reporting</span></a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "PaymentHistory" ? "active" : "")">
                <a href="/PaymentHistory/Index"> <i class="icon-interface-windows"></i><span>Payments History</span></a>
            </li>
            
            @*<li>
                <a data-toggle="collapse" href="#pagesExamples">
                    <i class="material-icons">image</i>
                    <p>
                        Pages
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="pagesExamples">
                    <ul class="nav">
                        <li>
                            <a href="~/Home/datpicker">
                                <span class="sidebar-mini">Datepicker</span>
                                <span class="sidebar-normal">Pricing</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages/timeline.html">
                                <span class="sidebar-mini">T</span>
                                <span class="sidebar-normal">Timeline</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages/login.html">
                                <span class="sidebar-mini">LP</span>
                                <span class="sidebar-normal">Login Page</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages/register.html">
                                <span class="sidebar-mini">RP</span>
                                <span class="sidebar-normal">Register Page</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages/lock.html">
                                <span class="sidebar-mini">LSP</span>
                                <span class="sidebar-normal">Lock Screen Page</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages/user.html">
                                <span class="sidebar-mini">UP</span>
                                <span class="sidebar-normal">User Profile</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>*@
           
        </ul>
    </div>
</div>



















