﻿
@{
    ViewBag.Title = "Index";
}



<div ng-controller="PaymentCalculation">

    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    Filters
                </div>
                <div class="card-content">
                    <br />
                    <form method="post" ng-submit="FindSchool()">
                        <div class="row">
                            <div class="col-lg-3">

                                @*<select class="form-control validD" id="DistrictID2" name="District" ng-model="Search.Dist">
                                    <option value="">-Select District-</option>
                                    <option ng-repeat="dis in District" value="{{dis.PKCODE}}">{{dis.Name}}</option>
                                </select>*@
                                <ui-select ng-model="$parent.SelectedDis" multiple title="Choose a type" name="casesections">
                                    <ui-select-match placeholder="Select a District">{{$item.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in District | filter:  $select.search">
                                        <strong ng-bind-html="item.Name"></strong>
                                        <h5>{{item.Description}}</h5>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-3">
                                @*<select class="form-control validD" id="DistrictID2" name="District" ng-model="Search.Phase">
                                    <option value="">--Select--</option>
                                    <option value="1">Phase 1</option>
                                    <option value="2">Phase 2</option>
                                    <option value="3">Phase 3</option>
                                </select>*@
                                <ui-select ng-model="$parent.SelectedPhase" multiple title="Choose a type" name="casesections">
                                    <ui-select-match placeholder="Select a Phase">{{$item.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in Phase | filter:  $select.search">
                                        <strong ng-bind-html="item.Name"></strong>
                                        <h5>{{item.Description}}</h5>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-3">
                                @*<select class="form-control validD" id="DistrictID2" name="District" ng-model="Search.appType">
                                    <option value="">-Type- </option>
                                    <option ng-repeat="apptyp in AppTypes" value="{{apptyp.PKCODE}}">{{apptyp.Name}}</option>
                                </select>*@
                                <ui-select ng-model="$parent.SelectedType" multiple title="Choose a type" name="casesections">
                                    <ui-select-match placeholder="Select a Type">{{$item.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in AppTypes | filter:  $select.search">
                                        <strong ng-bind-html="item.Name"></strong>
                                        <h5>{{item.Description}}</h5>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-3">
                                <ui-select ng-model="$parent.SelectedFocalPersons" multiple title="Choose a Focal Person" name="casesections">
                                    <ui-select-match placeholder="Select a Focal Person">{{$item.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item in FocalPersons | filter:  $select.search">
                                        <strong ng-bind-html="item.Name"></strong>
                                        <h5>{{item.Description}}</h5>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <button class="btn btn-success">Search</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-3  pull-right">
                            <button class="btn btn-success" ng-click="GetPaymentSheet()">Get Payment Sheet</button>
                        </div>
                        <div class="col-lg-3  pull-right">
                            <button class="btn btn-success" ng-click="CalculateAll()">Calculate Payments For All</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h5 display">Payment Calculation of Schools</h2>
                </div>
                <div class="card-block">
                    <div ng-if="Schools.length > 0">Total School {{Schools.length}}</div>
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>EMIS Code</th>
                                <th>Name</th>
                                <th>Level</th>
                                <th>District</th>
                                <th>Phase</th>
                                <th>Licensee Type</th>
                                <th>Licensee Name</th>
                                <th>T.S. (SIS)</th>
                                <th>T.S.(M & E)</th>
                                <th>T.S.(PMIU)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="s in Schools">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{s.EMISCOD}}</td>
                                <td>{{s.SCHOOL_NAME}}</td>
                                <td>{{s.SCHOOL_LEVEL}}</td>
                                <td>{{s.DISTRICT_NAME}}</td>
                                <td>{{s.SCHOOL_PHASE}}</td>
                                <td>{{s.LTYPE_NAME}}</td>
                                <td>{{s.LNAME}}</td>
                                <td>{{s.TOTAL_STUDENT}}</td>
                                <td>{{s.STDINMNE}}</td>
                                <td>{{s.PSSPPMIU_STDNO}}</td>
                                <td>
                                    <button class="btn btn-success" ng-click="ShowPopUp(s.EMISCOD , $index)">View</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>*@

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h5 display">Payment Calculation of Schools</h2>                  
                </div>
                <div class="card-block" style="overflow:auto">
                    <div class="row">
                        <form class="navbar-form navbar-right" role="search" style="padding-right:40px">
                            <div class="form-group form-search is-empty">
                                <input type="text" class="form-control" placeholder="Search" ng-model="Pagination.Search">
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>
                            <button ng-click="pageChanged()" class="btn btn-green btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                    <table class="table table-bordered bordered table-striped table-condensed datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>EMIS Code</th>
                                <th>Name</th>
                                
                                <th>District  </th>
                                <th>Phase </th>
                                <th>Licensee Type  </th>
                                <th>Primary Student</th>
                                <th>Elementary Student</th>
                                <th>PMIU</th>
                                <th>PMIU Present</th>
                                <th>PMIU Absenteeism %</th>

                                <th>M&E </th>
                                <th>M&E Present</th>
                                <th>M&E Absenteeism %</th>
                                <th>Action </th>
                                
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="s in Schools">
                                <th scope="row">{{((Pagination.Page - 1) * Pagination.PageSize) + ($index+1)}}</th>
                                <td>{{s.EMISCODE}}</td>
                                <td>{{s.SCHOOL_NAME}}</td>                                
                                <td>{{s.DISTRICT_NAME}}</td>
                                <td>{{s.PHASE}}</td>
                                <td>{{s.LTYPE_NAME}}</td>
                                <td>{{s.PRIMARY_STD}}</td>
                                <td>{{s.SECONDRY_STD}}</td>
                                <td>{{s.PSSPPMIU_STDNO}}</td>
                                <td>{{s.STNO_PRASENT}}</td>
                                <td>{{s.ABSENTISM_PER_AGE | number:0}} %</td>
                                <td>{{s.MNE_STU}}</td>
                                <td>{{s.MNE_PRASENT_STU}}</td>
                                <td>{{s.MNE_STU_ABSENTISM_PERSANTAGE | number:1}} %</td>


                                <td><button class="btn btn-success" ng-click="ShowPopUp(s.EMISCODE , $index)">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <ul uib-pagination max-size="10" boundary-link-numbers="true" rotate="false" total-items="Pagination.TotalRecords" ng-model="Pagination.Page" items-per-page="Pagination.PageSize" ng-change="pageChanged()" class="pagination-lg"></ul>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="popup==1" class="box" id="formModal" style="position:fixed; left: 42%; top:7%;height:100% !important; z-index:999">
        <div class="modal-dialog">
            <div class="modal-content" style="width:1000px; margin-left:-261px; height:500px; overflow-y: auto;">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-lg-10">
                            <h3>Payment Calculation</h3>
                        </div>
                        <div class="col-lg-2">
                            <button ng-click="DisposPopUp()" class="btn btn-just-icon btn-round btn-youtube pull-right">
                                <i class="fa fa-youtube">- </i>

                            </button>
                        </div>
                           
                    </div>
                </div> <!-- /modal-header -->
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>EMIS</td>
                                <td>{{Schools[CSIndex].EMISCODE}}</td>
                                <td>Name</td>                        
                                <td>{{Schools[CSIndex].SCHOOL_NAME}}</td>
                            </tr>                                    
                                                                     
                            <tr>                                     
                                <td>District</td>
                                <td>{{Schools[CSIndex].DISTRICT_NAME}}</td>
                                <td>License Name</td>
                                <td>{{Schools[CSIndex].LNAME}}</td>
                            </tr>
                            <tr>
                                <td>SIS</td>
                                <td>
                                    <button class="btn btn-success" ng-click="ChangeStuQty(Schools[CSIndex].EMISCODE , Schools[CSIndex].PRIMARY_STD)">{{Schools[CSIndex].PRIMARY_STD}}</button>
                                </td>
                                <td>M&E </td>
                                <td>
                                    <button class="btn btn-success" ng-click="ChangeStuQty(Schools[CSIndex].EMISCODE , Schools[CSIndex].STDINMNE)">{{Schools[CSIndex].MNE_STU}}</button>
                                </td>
                                <td>PMIU </td>
                                <td>
                                    <button class="btn btn-success" ng-click="ChangeStuQty(Schools[CSIndex].EMISCODE  , Schools[CSIndex].PSSPPMIU_STDNO)">{{Schools[CSIndex].PSSPPMIU_STDNO}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Payment Summary</h3>
                    <h4 style="color: red"> {{Payment.PAYMENTBASEDON}}</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Primary Enrollment</td>
                                <td>{{Payment.PRIMARY_ENROL}}</td>
                                <td>Enrollment To Be Paid</td>
                                <td>{{Payment.PRIMARY_ENROL_PAID}}</td>
                            </tr>
                            <tr>
                                <td>Secondary Enrollment</td>
                                <td>{{Payment.SECONDARY_ENROL}}</td>
                                <td>Enrollment To Be Paid</td>
                                <td>{{Payment.SECONDARY_ENROL_PAID}}</td>
                            </tr>

                            <tr>
                                <td>Primary Payment @@ Rs/- {{BR}}</td>
                                <td>{{Payment.PRIMARY_PAYMENT}}</td>
                                <td>Elementary Payment @@ Rs/- {{BRS}}</td>
                                <td>{{Payment.SECONDARY_PAYMENT}}</td>
                               
                               
                            </tr>
                            <tr>
                                <td ng-if="Schools[CSIndex].IS_CHAIN == 1">Management Fee @@  {{MC}}% </td>
                                <td ng-if="Schools[CSIndex].IS_CHAIN == 1">{{Payment.MANAGEMENT_FEE}}</td>
                                <td>WithHold Amount</td>
                                <td>{{Payment.WITHHOLD}}</td>
                            </tr>

                            <tr>
                              
                                <td>Deduction</td>
                                <td>{{Payment.DEDUCTIONS}}</td>
                                <td>Penalties Deduction</td>
                                <td>{{Payment.PLANTY_DEDUCTION}}</td>
                              
                            </tr>
                            <tr>
                                <td>Gross Payment</td>
                                <td>{{Payment.GROSS}}</td>
                                <td>Net Payment</td>
                                <td>{{Payment.NET_PAYMENT}}</td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td><p ng-bind-html="Payment.RMKS"></p></td>
                                <td>Penalties Remarks</td>
                                <td><p ng-bind-html="Payment.PLANTY_RMKS"></p></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Penalties Detail</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Name</td>
                                <td>Amount</td>
                                <td>%</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in Pnalty">

                                <td>{{$index+1}}</td>
                                <td>{{p.Name}}</td>
                                <td>{{p.Amount}}</td>
                                <td>{{p.IAMNT}}</td>
                            </tr>
                        </tbody>
                    </table>
                     <h3>Adjustment Detail</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Name</td>
                                <td>Amount</td>
                                <td>Installment</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dtl in DTL">

                                <td>{{$index+1}}</td>
                                <td>{{dtl.Name}}</td>
                                <td>{{dtl.Amount}}</td>
                                <td>{{dtl.IAMNT}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-5 checkbox-radios">
                            <div class="radio">
                                <label>
                                    <input ng-model="Payment.RELEASE_PAYMENT" ng-click="Stop(Payment.RELEASE_PAYMENT , Payment.SRNO)" value=0 type="radio" name="optionsRadios"><span class="circle"></span><span class="check"></span> Stop Payment
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input ng-model="Payment.RELEASE_PAYMENT" ng-click="Stop(Payment.RELEASE_PAYMENT , Payment.SRNO)" value=1 type="radio" name="optionsRadios"><span class="circle"></span><span class="check"></span> Release
                                </label>
                            </div>

                        </div>
                        <button class="btn btn-success" >Finalize</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div ng-if="alert!=0" style="z-index:9999; position:fixed; top:0px; left:0px; width:100%; height:100%; background: rgba(126, 126, 115, 0.63);">
        <div class="swal2-modal swal2-show" style="z-index:9999; position:fixed; top:37%; left:34%; display: block; width: 500px; padding: 20px; background: rgb(255, 255, 255); min-height: 172px;" tabindex="-1">
            <h2>{{alertMsg}}</h2>
            <button ng-if="ok==1" type="button" class="swal2-confirm btn btn-success" style="" ng-click="disposAlert()">OK</button>
        </div>
    </div>
</div>
@section Scripts{
    <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>
    <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <script src="~/JS/PaymentCalculation.js"></script>

}