﻿
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "Index";
}
<div ng-controller="Pagination">

    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    Filters
                </div>
                <div class="card-content">
                    <br />

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="overflow:auto;">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h5 display">Reporting</h2>
                </div>
                <div class="card-block">
                    <div class="row">

                        <div class="navbar-form navbar-right" role="search" style="padding-right:40px">
                            <div class="form-group form-search is-empty">
                                <input type="text" class="form-control" placeholder="Search" ng-model="Pagination.Search">
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>
                            <button ng-click="pageChanged()" class="btn btn-green btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>


                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered bordered">
                                <thead>
                                    <tr>
                                        <th>Sr</th>
                                        <th>Emis CODE  </th>
                                        <th>School Name  </th>
                                        <th>DIS  </th>
                                        <th>Teh  </th>
                                        <th>FkPCD</th>
                                        <th>FkMCD</th>


                                        <th>Primary_Enrol</th>
                                        <th>Primary_Enrol_S</th>
                                        <th>Primary_Enrol_Paid</th>
                                        <th>Primary Payment</th>
                                        <th>Management Fee</th>
                                        <th>Gross</th>
                                        <th>Stop Payment</th>
                                        <th>Deduction</th>
                                        <th>Release Payment </th>
                                        <th>Net Payment</th>
                                        <th>Applicant Type</th>
                                        <th>Remarks</th>
                                        <th>Other Payments</th>
                                        <th>Planty Remarks</th>
                                        <th>Penality Deduction</th>
                                        <th>Secondary Enrol</th>
                                        <th>Secondary Enrol Paid</th>
                                        <th>Secondary Payment</th>


                                    </tr>

                                </thead>
                                <tbody>

                                    <tr ng-repeat="s in Payment">
                                        <th scope="row">{{((Pagination.Page - 1) * Pagination.PageSize) + ($index+1)}}</th>
                                        <td>{{s.EmisCode}}  </td>
                                        <td>{{s.SNAME}}  </td>
                                        <td>{{s.DIS}}  </td>
                                        <td>{{s.Teh}}  </td>
                                        <td>{{s.fkpcd}}</td>
                                        <td>{{s.fkmcd}}</td>


                                        <td>{{s.PrimaryEnrol}}</td>
                                        <td>{{s.PrimaryEnrol_s}}</td>
                                        <td>{{s.PrimaryEnrolPaid}}</td>
                                        <td>{{s.Ppayment}}</td>
                                        <td>{{s.MngmntFee}}</td>
                                        <td>{{s.Gross}}</td>
                                        <td>{{s.Stoppaymnt}}</td>
                                        <td>{{s.Deduction}}</td>
                                        <td>{{s.ReleasePayment}} </td>
                                        <td>{{s.NetPayment}}</td>
                                        <td>{{s.AppType}}</td>
                                        <td>{{s.Remarks}}</td>
                                        <td>{{s.OtherPayment}}</td>
                                        <td>{{s.penalityRmks}}</td>
                                        <td>{{s.PDeduction}}</td>
                                        <td>{{s.SecondaryEnrol}}</td>
                                        <td>{{s.SecondaryEnrolPaid}}</td>
                                        <td>{{s.Spayment}}</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                    <ul uib-pagination max-size="10" boundary-link-numbers="true" rotate="false" total-items="Pagination.TotalRecords" ng-model="Pagination.Page" items-per-page="Pagination.PageSize" ng-change="pageChanged()" class="pagination-lg"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>
<!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>

    
    <script>

        //Step1 :
        angular.module("SAP").requires.push("ngMaterial");
        angular.module("SAP").requires.push('ngSanitize');
        angular.module("SAP").requires.push("ui.select");
        angular.module("SAP").requires.push("ui.bootstrap");

        //step2 :
        app.controller('Pagination', ['$scope', '$http', function ($scope, $http) {
            $scope.Pagination = {
                Page: 1,
                PageSize: 10,
                TotalRecords: 0,
                Search: "",
                SortByFieldName: "",
                SortBy: 'asc',
                Filters: {}
            };

            //Step3 :
            $scope.GetPayments = function () {

                $http({
                    url: "/Pagination/Pagination",
                    method: "POST",
                    data: $scope.Pagination

                }).then(function (res) {

                    console.log(res.data.res);
                    $scope.Payment = res.data.res;
                    $scope.Pagination.TotalRecords = res.data.TotalCount
                });

            }
            //Step4 :
            $scope.GetPayments();
            $scope.pageChanged = function () {
                $scope.GetPayments();
            }
        }]);



    </script>
    
    
    
    
    
    
    
    
    
    
    
    
    }


