﻿
@{
    ViewBag.Title = "Index";
}

<div ng-controller="PaymentHistory">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">
                    <div class="card-header">
                        <h4>
                            <strong>Payment History</strong>
                        </h4>
                    </div>
                </div>
                <div class="card-content">
                    <ul class="nav nav-pills nav-pills-success">
                       
                        <li>
                            <a href="#pill2" data-toggle="tab" class="btn btn-default" ng-click="GetPayment()">View Payments History</a>
                        </li>
                      

                    </ul>
                    <div class="tab-content">
                        @*View  Payments*@
                        <div class="tab-pane" id="pill2">
                            <div class="row">
                                <div class="col-sm-4">
                                    <select class="form-control form-control-success" ng-model="FKMCD" required>
                                        <option value="">--Select Month--</option>
                                        <option ng-repeat="m in MCD" value="{{m.PKCODE}}">{{m.Name}}</option>
                                    </select>


                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control form-control-success" ng-model="FKPCD" required>
                                        <option value="">--Select Year--</option>
                                        <option ng-repeat="p in PCD" value="{{p.PKCODE}}">{{p.Name}}</option>
                                    </select>



                                </div>
                                <div class="col-sm-4">
                                    <input type="button" ng-click="GetPayment()" value="Search" class="btn btn-success">
                                </div>
                            </div>
                            <br />
                            <br />
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>School Name</th>
                                        <th>EMIS Code</th>
                                        <th>District</th>
                                        @*<th>School Phase</th>*@
                                        <th>MM-YYYY</th>
                                        @*<th>Primary Enroll</th>
                                        <th>Primary Enroll Paid</th>*@
                                        <th>Primary Payment</th>
                                        <th>Management Fee</th>
                                        <th>Gross</th>
                                        <th>Detuction</th>
                                        <th>Release Payment</th>
                                        <th>Net Payment</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="r in Payments">
                                        <th scope="row">{{$index + 1}}</th>
                                        <td>{{r.SName}}</td>
                                        <td>{{r.Emiscode}}</td>
                                        <td>{{r.District}}</td>
                                        @*<td>{{r.Phase}}</td>*@
                                        <td>{{r.Month}} - 20{{r.Year}}</td>
                                        @*<td>{{r.PEnroll}}</td>
                                        <td>{{r.PEnrollPaid}}</td>*@
                                        <td>{{r.PrimaryPymt}}</td>
                                        <td>{{r.Mangmentfee}}</td>
                                        <td>{{r.Gross}}</td>
                                        <td>{{r.Detuction}}</td>
                                        <td>{{r.ReleasePymt}}</td>
                                        <td>{{r.netpymt}}</td>

                                       
                                        

                                    </tr>

                                </tbody>
                            </table>
                        </div>

                 

                    </div>
                </div>
            </div>


        </div>
    </div>

   

</div>

@section Scripts{

    <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>


    <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>

<script src="~/JS/PaymentHistory.js"></script>
    }