﻿
@{
    ViewBag.Title = "Index";
}
<div ng-controller="PaymentCritaria">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">
                    <div class="card-header">
                        <h4>
                            <strong>Payment Rates</strong>
                        </h4>
                    </div>
                </div>
                <div class="card-content">
                    <ul class="nav nav-pills nav-pills-success">
                        <li class="active">
                            <a href="#pill0" data-toggle="tab">Define Types</a>
                        </li>
                        <li>
                            <a href="#pill1" data-toggle="tab">Define Rates</a>
                        </li>
                        <li>
                            <a href="#pill2" data-toggle="tab" ng-click="GetRates()">View Rates</a>
                        </li>
                        <li>
                            <a href="#Rcategory" data-toggle="tab">Define Rates Category Wise</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        @* Define Rates Types *@
                        <div class="tab-pane active" id="pill0">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <form class="form-horizontal" ng-submit="SaveRatesType()" id="RateTypeFrm">
                                        <div class="form-group row">
                                            <label class="col-sm-4">Type</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control form-control-success" ng-model="RateType" required />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10 offset-sm-2">
                                                <input type="submit" value="Save" class="btn btn-success">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>
                        @* Define Rates *@
                        <div class="tab-pane" id="pill1">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <form class="form-horizontal" ng-submit="SaveRates()" id="frm">
                                        <input type="hidden" ng-model="DefineRates.ID" />
                                        <div class="form-group row">
                                            <label class="col-sm-4">License Type</label>
                                            <div class="col-sm-8">

                                                <select class="form-control form-control-success" ng-model="apptIndex" ng-change="FilterRates(apptIndex)" required>
                                                    <option value="">--Select--</option>
                                                    <option ng-repeat="at in appTyps" value="{{$index}}">{{at.Name}}</option>
                                                </select>


                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Type of Rate</label>
                                            <div class="col-sm-8">
                                                <select class="form-control form-control-success" ng-model="DefineRates.FKTYPE" required>
                                                    <option value="">--Select--</option>
                                                    <option ng-repeat="r in rates" value="{{r.PKCODE}}">{{r.Name}}</option>
                                                </select>


                                            </div>
                                        </div>
                                        @*<div class="form-group row">
                                                <label class="col-sm-4">Month</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control form-control-success" ng-model="DefineRates.FKMCD" required>
                                                        <option value="">--Select--</option>
                                                        <option ng-repeat="m in MCD" value="{{m.PKCODE}}">{{m.Name}}</option>
                                                    </select>


                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4">Year</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control form-control-success" ng-model="DefineRates.FKPCD" required>
                                                        <option value="">--Select--</option>
                                                        <option ng-repeat="p in PCD" value="{{p.PKCODE}}">{{p.Name}}</option>
                                                    </select>


                                                </div>
                                            </div>*@
                                        <div class="form-group row">
                                            <label class="col-sm-4">Rate</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control form-control-success" ng-model="DefineRates.RATE" required />



                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Behave</label>
                                            <div class="col-sm-8">
                                                <select class="form-control form-control-success" ng-model="DefineRates.UNIT" required>
                                                    <option value="">--Select--</option>
                                                    <option value="%">%</option>
                                                    <option value="Flat">Flat</option>

                                                </select>



                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-sm-10 offset-sm-2">
                                                <input type="submit" value="Save" class="btn btn-success">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>

                        @*View Defined Rates*@
                        <div class="tab-pane" id="pill2">
                            <div class="row">
                                <div class="col-sm-4">
                                    <select class="form-control form-control-success" ng-model="FKMCD" required>
                                        <option value="">--Select Month--</option>
                                        <option ng-repeat="m in MCD" value="{{m.PKCODE}}">{{m.Name}}</option>
                                    </select>


                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control form-control-success" ng-model="FKPCD" required>
                                        <option value="">--Select Year--</option>
                                        <option ng-repeat="p in PCD" value="{{p.PKCODE}}">{{p.Name}}</option>
                                    </select>



                                </div>
                                <div class="col-sm-4">
                                    <input type="button"  ng-click="GetRates()" value="Search" class="btn btn-success">
                                </div>
                            </div>
                            <br/>
                            <br/>
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>

                                        <th>Applicant Type</th>
                                        <th>Rate Type</th>
                                        <th>MM-YYYY</th>
                                        <th>Rate</th>
                                        <th>Action</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="r in DefinedRates">
                                        <th scope="row">{{$index + 1}}</th>
                                        <td>{{r.AppType}}</td>
                                        <td>{{r.RName}}</td>
                                        <td>{{r.Month}} - 20{{r.Year}}</td>
                                        <td>{{r.Rate}}</td>
                                        <td>
                                            <a href="#pill1" data-toggle="tab" ng-click="EditRate(r.ID)"><i class="material-icons">mode_edit</i></a>
                                            <i class="material-icons">delete</i>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        @*Define Rates CategoryWise*@

                        <div class="tab-pane" id="Rcategory">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <form class="form-horizontal" ng-submit="SaveRatesCat()" id="frmc">
                                        <input type="hidden" ng-model="DefineRatesCat.ID" />
                                        <div class="form-group row">
                                            <label class="col-sm-4">Category Type</label>
                                            <div class="col-sm-8">

                                                <select class="form-control form-control-success" ng-model="appindexcat" ng-change="FilterRatesCat(appindexcat)" required>
                                                    <option value="0">--Select--</option>
                                                    <option value="1">Indvidual Licensee</option>
                                                    <option value="2">Institutional Licensee</option>
                                                </select>


                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Type of Rate</label>
                                            <div class="col-sm-8">
                                                <select class="form-control form-control-success" ng-model="DefineRatesCat.FKTYPE" required>
                                                    <option value="">--Select--</option>
                                                    <option ng-repeat="r in rates" value="{{r.PKCODE}}">{{r.Name}}</option>
                                                </select>


                                            </div>
                                        </div>
                                        @*<div class="form-group row">
                                                <label class="col-sm-4">Month</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control form-control-success" ng-model="DefineRates.FKMCD" required>
                                                        <option value="">--Select--</option>
                                                        <option ng-repeat="m in MCD" value="{{m.PKCODE}}">{{m.Name}}</option>
                                                    </select>


                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4">Year</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control form-control-success" ng-model="DefineRates.FKPCD" required>
                                                        <option value="">--Select--</option>
                                                        <option ng-repeat="p in PCD" value="{{p.PKCODE}}">{{p.Name}}</option>
                                                    </select>


                                                </div>
                                            </div>*@
                                        <div class="form-group row">
                                            <label class="col-sm-4">Rate</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control form-control-success" ng-model="DefineRatesCat.RATE" required />



                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Behave</label>
                                            <div class="col-sm-8">
                                                <select class="form-control form-control-success" ng-model="DefineRatesCat.UNIT" required>
                                                    <option value="">--Select--</option>
                                                    <option value="%">%</option>
                                                    <option value="Flat">Flat</option>

                                                </select>



                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-sm-10 offset-sm-2">
                                                <input type="submit" value="Save" class="btn btn-success">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">
                    <div class="card-header">
                        <h4>
                            <strong>Absenteeism Deduction</strong>
                        </h4>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <form class="form-horizontal">

                                <h3>Gernal</h3>
                                <div class="form-group row">
                                    <label class="col-sm-4">Less the 50% </label>
                                    <div class="col-sm-8">
                                        <input id="inputHorizontalSuccess" type="text" value="550" class="form-control form-control-success">
                                        <small class="form-text">efact on net payment</small>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Less the 70% </label>
                                    <div class="col-sm-8">
                                        <input id="inputHorizontalSuccess" type="text" value="550" class="form-control form-control-success">
                                        <small class="form-text">efact on net payment</small>

                                    </div>
                                </div>
                                <h3>PMIU</h3>
                                <div class="form-group row">
                                    <label class="col-sm-4">Less the 50% </label>
                                    <div class="col-sm-8">
                                        <input id="inputHorizontalSuccess" type="text" value="550" class="form-control form-control-success">
                                        <small class="form-text">efact on net payment</small>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Less the 70% </label>
                                    <div class="col-sm-8">
                                        <input id="inputHorizontalSuccess" type="text" value="550" class="form-control form-control-success">
                                        <small class="form-text">efact on net payment</small>

                                    </div>
                                </div>
                                <h3>M&E</h3>
                                <div class="form-group row">
                                    <label class="col-sm-4">Less the 50% </label>
                                    <div class="col-sm-8">
                                        <input id="inputHorizontalSuccess" type="text" value="550" class="form-control form-control-success">
                                        <small class="form-text">efact on net payment</small>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4">Less the 70% </label>
                                    <div class="col-sm-8">
                                        <input id="inputHorizontalSuccess" type="text" value="550" class="form-control form-control-success">
                                        <small class="form-text">efact on net payment</small>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2"></div>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <div class="card-header">
                        <h4>
                            <strong>Penalties Rates</strong>
                        </h4>
                    </div>


                </div>
                <div class="card-block">

                    <div class="row">

                        <div class="col-lg-12">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Indicator</th>

                                        <th>Penalty</th>

                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>

                                    <tr>
                                        <form method="post" ng-submit="SavePlanty()">

                                            <th>
                                                <input type="hidden" value="" ng-model="planty.ID" required />
                                            </th>
                                            <th>
                                                <input type="text" value="" ng-model="planty.INDICATOR" required />
                                            </th>
                                            <th>
                                                <input type="number" value="" ng-model="planty.PENALTY" required />
                                            </th>

                                            <th>
                                                <input type="text" value="" ng-model="planty.RMKS" required />
                                            </th>
                                            <th>
                                                <button type="submit" class="btn btn-round btn-twitter">{{ (planty.ID == 0 ) ? 'Save' : 'Update'}}</button>
                                            </th>
                                        </form>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in Planites">
                                        <th scope="row">{{$index + 1}}</th>
                                        <td>{{p.INDICATOR}}</td>
                                        <td>
                                            {{p.PENALTY}}
                                        </td>

                                        <td>
                                            {{p.RMKS}}
                                        </td>
                                        <th>
                                            <button class="btn btn-round" ng-click="EditPlanty($index)">Edit</button>
                                        </th>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>


    <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <script src="~/JS/PaymentCritaria.js"></script>

}