﻿
@{
    ViewBag.Title = "Index";
}

<div ng-controller="StopRelease">

    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    Stop/Release Payment
                </div>
                <div class="card-content">
                    <br />

                    <div class="row">
                        <div class="col-lg-3">
                            <input type="text" placeholder="Enter EmisCode" class="form-control" ng-model="emis" ng-change="GetEmis()" />
                            <p style="color:red">{{NF}}</p>
                        </div>
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-3">
                        </div>
                    </div>
                    <div class="row">

                    </div>


                </div>
            </div>
        </div>
    </div>


    @*Section2*@
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h5 display">School Details </h2>
                </div>
                <div class="card-block">


                    <div class="row">



                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="row">

                                <div class="col-md-3">
                                    <b>EmisCode</b>
                                </div>
                                <div class="col-md-3">{{SchoolDetail.ID}}</div>
                                <div class="col-md-3">
                                    <b>School District :</b>
                                </div>
                                <div class="col-md-3">{{SchoolDetail.Dist}}</div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col-md-3" s>
                                    <b>School Name :</b>
                                </div>
                                <div class="col-md-3">{{SchoolDetail.Name}}</div>


                                <div class="col-md-3">
                                    <b>School Tehsil :</b>
                                </div>
                                <div class="col-md-3">{{SchoolDetail.teh}}</div>
                            </div>
                            </br>
                            <div class="row">

                                <div class="col-md-3">
                                    <b>School Phase :</b>
                                </div>
                                <div class="col-md-3">{{SchoolDetail.Phase}}</div>

                                <div class="col-md-3"></div>
                                <div class="col-md-3">
                                    <button class="btn btn-primry" ng-click="GetPayments()">Apply</button>
                                </div>
                            </div>
                            </br>


                        </div>
                        <div class="col-md-2"></div>

                    </div>

                </div>
            </div>
        </div>
    </div>



    @*Section3*@
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h5 display">Payment Details </h2>
                </div>
                <div class="card-block">
                    <div class="row">

                        <form class="navbar-form navbar-right" role="search" style="padding-right:40px">
                            <div class="form-group form-search is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>
                            <button class="btn btn-green btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                    <table class="table table-bordered bordered table-striped table-condensed datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>EMIS Code</th>
                                <th>Year</th>
                                <th>Month</th>
                                <th>Payment to be payed </th>
                                <th>Additional Penalty %</th>
                                <th>Penalty Amount</th>
                                <th>Remarks</th>
                                <th>Stop/Release  </th>
                                <th>Remarks </th>
                                <th>Action</th>


                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="p in PAymentDetal">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{p.EMISCODE}}</td>
                                <td>{{p.FKPCD}}</td>
                                <td>{{p.FKMCD}}</td>
                                <td>{{p.Payment}}</td>
                                <th><input type="number" ng-blur="CalculateAddPenalty($index)" class="form-control" ng-model="p.ADDITIONAL_PENALTY" /></th>
                                <th>{{p.ADDTIONAL_PENALTY_AMNT}}</th>
                                <th><textarea type="number" class="form-control" ng-model="p.ADDTIONAL_PENALTY_RMKS" ></textarea></th>
                                <td>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="p.RELEASE_PAYMENT"  value=0 type="radio" name="optionsRadios"><span class="circle"></span><span class="check"></span> Stop Payment
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="p.RELEASE_PAYMENT"  value=1 type="radio" name="optionsRadios"><span class="circle"></span><span class="check"></span> Release
                                        </label>
                                    </div>
                                  
                                </td>
                                <td><textarea ng-model="p.RMKS" class="form-control"></textarea>  </td>
                                <td><button class="btn btn-primry"  ng-click="SaveStopRealese($index)">Update</button></td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>
    <!-- AngularJS Material Javascript now available via Google CDN; version 1.1.4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <script src="~/JS/PaymentCalculation.js"></script>

    <script src="~/JS/StopRelease.js"></script>
}

